<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exito</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>

    <header>
      <img src="./assets/reforce-logo.png" alt="Logo">
    </header>

    <div class="circle">
    </div>

    <main>
        <section class="main-section-success">
          <h1>Gracias por descargar el <b>EBOOK</b></h1>
          <h1>No dejes de visitar nuestra </h1>
          <button>
            <a href="https://www.reforcepharma.com/">Tienda en linea</a>
          </button>
        </section>
        </main>
        <footer>
          <div class="banner"></div>
          <div class="aviso-privacidad">
            <a href="https://www.reforcepharma.com/politica-de-privacidad" target="_blank">
            AVISO DE PRIVACIDAD</a>
          </div>
          </footer>
        </div>
  </body>
</html>
