<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exito</title>
    <link rel="stylesheet" href="./css/exito.css" />
  </head>
  <body>
    <main>
        <section class="main-section">
          <div class="logo-header">
            <img src="./assets/logo-sensepath-2.png" alt="">
          </div>
          <h1>¡GRACIAS!</h1>
          <h2>En un momento se descargará el EBOOK,
            de no ser así puedes descargarlo dando click en este <a href="#">enlace</a></h2>

        </section>
        </main>
        <footer>
          <div class="banner">
              <div class="banner-text">
                <h1>ESTRATEGÍA SENSORIAL APLICADA A TU MARCA <b>SOMOS LA EMPRESA MEXICANA</b> DE MÁS ALTO EXPERTISE SENSORIAL
                </h1>
                <a href="https://www.sense-path.com/#topFooter" target="_blank">
                  <button class="secondary-button">CONTACTÁNOS</button>
                </a>
              </div>

          </div>
          <div class="contacto">
            <p>info@sense-path.com</p>
            <div>
              <div>(+52) 55 5444 7954</div>
              <di>(+52) 55 2589 3701</di>
            </div>

          </div>

          <div class="aviso-privacidad">
            <a href="https://www.sense-path.com/SP-AvisoPrivacidad.pdf" target="_blank">
            AVISO DE PRIVACIDAD</a>
          </div>
          </footer>
        </div>
  </body>
</html>
