<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
     <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>

    <div class="mancha hidden-mobile show-desktop">
      <img src="./assets/mancha.svg" alt="Logo">
    </div>


    <main>
      <section class="main-section">
        <div class="left-message">
          <div class="logo-header show-desktop hidden-mobile">
            <img src="./assets/logo-sensepath.svg" alt="Sense Path logo" width="252px">
          </div>
          <h1>INTRODUCCIÓN A LA <b>EVALUACIÓN SENSORIAL</b>   EBOOK GRATUITO
          </h1>

          <p class="show-desktop hidden-mobile">Regístrate para descargar un exclusivo Ebook sobre como la evaluación sensorial puede ayudar a tu producto. Descubre los atributos personales, lo que opinan tus clientes o futuros compradores, como diferenciarte de tu compentencia y mucho más. </p>
          <p class="hidden-desktop show-mobile">Regístrate para descargar un exclusivo Ebook sobre como la evaluación sensorial puede ayudar a tu producto.</p>

        </div>
        <div class="formulario">

          <form action="" method="post" id="form">
             <div class="name form-control">
                <small>Error message</small>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
               <input
               type="text"
               id="nombre"
               name="nombre"
               placeholder="NOMBRE"
               required
               />
              </div>

               <div class="name form-control">
                  <small>Error message</small>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                 <input
                 type="email"
                 id="correo"
                 name="correo"
                 placeholder="CORREO ELECTRONICO"
                 required
                 />
                </div>
                <div class="name form-control">
                  <small>Error message</small>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                  <input
                  type="tel"
                  id="telefono"
                  name="telefono"
                  placeholder="WHATSAPP"
                  required
                  />
                </div>

                 <div class="name form-control">
                    <small>Error message</small>
                  <i class="fas fa-check-circle"></i>
                  <i class="fas fa-exclamation-circle"></i>
                   <input
                   type="text"
                   id="empresa"
                   name="empresa"
                   placeholder="EMPRESA"
                   required
                   />
                  </div>
                   <button
                   type="submit"
                  id="btn-download"
                  >
                  ENVIAR
                </button>
              </form>
            </div>
            <div class="logo-main hidden-desktop">
              <img src="./assets/logo-sensepath.svg" alt="Sense Path logo" width="252px">
            </div>
            <p class="hidden-desktop show-mobile">Descubre los atributos personales, lo que opinan tus clientes o futuros compradores, como diferenciarte de tu compentencia y mucho más. </p>
            </section>
        </main>
        <footer>
            <div class="banner">
              <div class="banner-text">
                <h1>ESTRATEGÍA SENSORIAL APLICADA A TU MARCA <b>SOMOS LA EMPRESA MEXICANA</b> DE MÁS ALTO EXPERTISE SENSORIAL
                </h1>
                <a href="https://www.sense-path.com/#topFooter" target="_blank">
                  <button class="secondary-button">CONTACTÁNOS</button>
                </a>
              </div>
              <img class="show-desktop hidden-mobile" src="./assets/expertise.png" alt="">
            </div>
          <div class="aviso-privacidad">
            <a href="https://www.sense-path.com/SP-AvisoPrivacidad.pdf" target="_blank">
            AVISO DE PRIVACIDAD </a>
          </div>
          </footer>
        </div>
        <script src="./js/index.js"></script>
      </body>
</html>
